:root {
    --theme-primary: #16a7e0;
    --theme-primary-hover: #0f85b3;
    --theme-primary-transparent: rgba(22, 167, 224, 0.2);
    --theme-secondary: #f17a21;
    --theme-lighter: #56cfff;
    --theme-lighter-transparent: rgba(86, 207, 255, 0.2);
    --theme-error-colour: red;
}

* {
    font-family: Nunito, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
